
@using Test_MVC_2.Models

@model Pizza
@{
    Layout = "_LayoutPersonalizzato";
    ViewData["Title"] = "Create";
}

<div>
    <div class="wrapper">
        <div class="form-container">
            <form asp-controller="Pizza" asp-action="Create" method="post">
                @Html.AntiForgeryToken()

                <div>
                    <label for="inputNome">Inserisci il nome:</label>
                    <br />
                    <input asp-for="Name" class="create-input" id="inputNome" />
                    <br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label for="InputDescrizione">Inserisci gli ingredienti:</label>
                    <br />
                    <input asp-for="Description" class="create-input" id="inputDescrizione" />
                    <br />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputFotoPath">Inserisci la foto:</label>
                    <br />
                    <input asp-for="Url" class="create-input" id="inputFotoPath" />
                    <br />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputPrezzo">Inserisci un prezzo:</label>
                    <br />
                    <input asp-for="Price" class="create-input" id="inputPrezzo" />
                    <br />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" class="submit-button" value="Salva">
                </div>
            </form>
        </div>
    </div>
</div>
