@using Test_MVC_2.Models

@model Pizza
@{
    ViewData["Title"] = "Update";
    Layout = "_LayoutPersonalizzato";

}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div>
    <div class="wrapper">
        <div class="form-container">
            <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Id" method="post">
                @Html.AntiForgeryToken()

                <div>
                    <label for="inputName">Inserisci il nome:</label>
                    <br />
                    <input asp-for="Name" class="create-input" id="inputName" />
                    <br />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <label for="InputDescription">Inserisci gli ingredienti:</label>
                    <br />
                    <input asp-for="Description" class="create-input" id="inputDescription" />
                    <br />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputUrl">Inserisci la foto:</label>
                    <br />
                    <input asp-for="Url" class="create-input" id="inputUrl" />
                    <br />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div>
                    <label for="inputPrice">Inserisci un prezzo:</label>
                    <br />
                    <input asp-for="Price" class="create-input" id="inputPrice" />
                    <br />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" class="submit-button" value="Salva">
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .wrapper {
        width:90%;
        margin:auto;
    }
    .form-container {
        width: 100%;
    }
</style>