<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        @Html.PartialAsync("_navbar");
    </header>

    <main>
        @RenderBody()
    </main>

    <div>
        @Html.PartialAsync("_footer");
    </div>

</body>

</html>
