<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_navbar")
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        @await Html.PartialAsync("_footer")
    </footer>
</body>
</html>

